In [1]:
# objective: identify trend across 2021 until 2023 of answers who have been to rehab 
# and continue to use drugs

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pyreadr

In [4]:
data2022 = pyreadr.read_r('NSDUH_2022.Rdata')
data2023 = pyreadr.read_r('NSDUH_2023.Rdata')

r_df2022 = data2022['puf2022_110424']
r_df2023 = data2023['puf2023_102124']

df2022 = pd.DataFrame(r_df2022)
df2023 = pd.DataFrame(r_df2023)

In [5]:
rehabcondition = (df2022[['IRMHTINRHAB', 'IRMHTOUTRHAB', 'IRSUTINRHAB', 'IRSUTOUTRHAB']] == 1).any(axis=1)
df2022_filter = df2022[rehabcondition]

drugcondition1 = (df2023[['SYNSTMREC', 'SYNMRJREC', 'KRATREC', 'FLVVAPREC', 'METHNDLRC', 'HRSMKREC', 'HRSNFREC', 'OTDGNDLRC', 'GHBREC', 'CONDLREC', 'COLDREC', 'METHAMREC', 'KETMINREC',
                        'DAMTFXREC', 'SALVIAREC', 'INHALREC', 'LSDREC', 'HALLUCREC', 'ECSTMOREC', 'PCPREC', 'HERREC','COCREC', 'CRAKREC', 'BLNTREC', 'MKMBGHTREC', 'MJREC', 'CBDHMPREC', 
                        'BLNTREC', 'MKMBGHTREC', 'MJREC', 'CBDHMPREC', 'ALCREC', 'CIGARREC', 'SMKLSSREC', 'NICVAPREC']] < 3).any(axis=1)
drugcondition2 = (df2023[['HRNDLREC', 'STMNDLREC']] < 13).any(axis=1)
df2023_filter = df2023[drugcondition1 | drugcondition2]

display(df2022_filter)
display(df2023_filter)

,QUESTID2,FILEDATE,ANALWT2_C,VESTR_C,VEREP,PDEN10,COUTYP4,MAIIN102,AIIND102,AGE3,...,COSUTELE2,COSUAPTDL2,COSURXDL2,COSUSVHLT2,COHCTELE2,COHCAPTDL2,COHCRXDL2,COHCSVHLT2,LANGVER,GQTYPE2
15,10010784.0,11/04/2024,14198.186309,40014.0,2.0,2.0,3.0,2.0,2.0,9.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,
30,10020602.0,11/04/2024,1286.647832,40044.0,1.0,2.0,2.0,2.0,2.0,8.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,
125,10087828.0,11/04/2024,687.320078,40020.0,2.0,1.0,1.0,2.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,
192,10141248.0,11/04/2024,3877.079443,40032.0,2.0,2.0,2.0,2.0,2.0,8.0,...,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,
283,10202922.0,11/04/2024,8845.410157,40001.0,2.0,2.0,2.0,2.0,2.0,9.0,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58627,51837004.0,11/04/2024,209.819322,40008.0,1.0,1.0,1.0,2.0,2.0,3.0,...,3.0,3.0,3.0,3.0,1.0,1.0,2.0,2.0,1.0,
58638,51845085.0,11/04/2024,3761.819902,40022.0,2.0,2.0,3.0,2.0,2.0,9.0,...,3.0,3.0,3.0,3.0,1.0,2.0,2.0,2.0,1.0,
58813,51972663.0,11/04/2024,1647.894508,40001.0,2.0,2.0,2.0,2.0,2.0,9.0,...,1.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,1.0,
58987,52103367.0,11/04/2024,340.298359,40035.0,2.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,
59042,52141506.0,11/04/2024,68.602521,40038.0,2.0,2.0,2.0,2.0,2.0,3.0,...,1.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,1.0,

,QUESTID2,FILEDATE,ANALWT2_C,VESTR_C,VEREP,PDEN10,COUTYP4,MAIIN102,AIIND102,AGE3,...,COSUTELE2,COSUAPTDL2,COSURXDL2,COSUSVHLT2,COHCTELE2,COHCAPTDL2,COHCRXDL2,COHCSVHLT2,LANGVER,GQTYPE2
0,10000053.0,10/21/2024,3276.469874,40031.0,2.0,2.0,2.0,2.0,2.0,10.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,
1,10000679.0,10/21/2024,15630.082955,40021.0,2.0,2.0,3.0,2.0,2.0,9.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,
2,10001208.0,10/21/2024,4018.172390,40043.0,1.0,2.0,2.0,2.0,2.0,9.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,
4,10001588.0,10/21/2024,8195.104779,40023.0,2.0,2.0,2.0,2.0,2.0,10.0,...,3.0,3.0,3.0,3.0,1.0,3.0,3.0,3.0,1.0,
5,10004996.0,10/21/2024,3770.725769,40048.0,1.0,2.0,2.0,2.0,2.0,4.0,...,2.0,2.0,2.0,2.0,1.0,3.0,2.0,2.0,1.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56697,50554363.0,10/21/2024,465.857540,40042.0,1.0,1.0,1.0,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,
56698,50554399.0,10/21/2024,6581.177515,40010.0,1.0,1.0,1.0,2.0,2.0,9.0,...,3.0,3.0,3.0,3.0,1.0,1.0,2.0,2.0,1.0,
56701,50557151.0,10/21/2024,7625.717934,40017.0,1.0,2.0,2.0,2.0,2.0,11.0,...,3.0,3.0,3.0,3.0,2.0,2.0,2.0,2.0,1.0,
56702,50558694.0,10/21/2024,23556.083908,40042.0,1.0,1.0,1.0,2.0,2.0,10.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,
56703,50558696.0,10/21/2024,5193.882625,40040.0,2.0,1.0,1.0,2.0,2.0,11.0,...,3.0,3.0,3.0,3.0,2.0,2.0,2.0,2.0,1.0,

In [6]:
common_indices = df2022_filter.index.intersection(df2023_filter.index)
df2022_intersect = df2022_filter.loc[common_indices]
df2023_intersect = df2023_filter.loc[common_indices]


display(df2022_intersect)
display(df2023_intersect)

,QUESTID2,FILEDATE,ANALWT2_C,VESTR_C,VEREP,PDEN10,COUTYP4,MAIIN102,AIIND102,AGE3,...,COSUTELE2,COSUAPTDL2,COSURXDL2,COSUSVHLT2,COHCTELE2,COHCAPTDL2,COHCRXDL2,COHCSVHLT2,LANGVER,GQTYPE2
15,10010784.0,11/04/2024,14198.186309,40014.0,2.0,2.0,3.0,2.0,2.0,9.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,
30,10020602.0,11/04/2024,1286.647832,40044.0,1.0,2.0,2.0,2.0,2.0,8.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,
125,10087828.0,11/04/2024,687.320078,40020.0,2.0,1.0,1.0,2.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,
192,10141248.0,11/04/2024,3877.079443,40032.0,2.0,2.0,2.0,2.0,2.0,8.0,...,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,
354,10244816.0,11/04/2024,1485.162429,40011.0,2.0,3.0,3.0,2.0,2.0,9.0,...,1.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56423,50265194.0,11/04/2024,286.382873,40024.0,2.0,2.0,1.0,2.0,2.0,2.0,...,2.0,3.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0,
56441,50274303.0,11/04/2024,4412.791091,40001.0,1.0,2.0,2.0,2.0,2.0,9.0,...,3.0,3.0,3.0,3.0,2.0,2.0,2.0,2.0,1.0,
56613,50416410.0,11/04/2024,2363.814180,40020.0,1.0,2.0,1.0,2.0,2.0,10.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,
56651,50440715.0,11/04/2024,3046.935749,40009.0,1.0,1.0,1.0,2.0,2.0,1.0,...,2.0,3.0,1.0,2.0,2.0,1.0,1.0,3.0,1.0,
56691,50464849.0,11/04/2024,1171.730620,40049.0,1.0,2.0,2.0,2.0,2.0,7.0,...,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,

,QUESTID2,FILEDATE,ANALWT2_C,VESTR_C,VEREP,PDEN10,COUTYP4,MAIIN102,AIIND102,AGE3,...,COSUTELE2,COSUAPTDL2,COSURXDL2,COSUSVHLT2,COHCTELE2,COHCAPTDL2,COHCRXDL2,COHCSVHLT2,LANGVER,GQTYPE2
15,10010161.0,10/21/2024,1011.665478,40016.0,2.0,2.0,2.0,2.0,2.0,9.0,...,3.0,3.0,3.0,3.0,1.0,2.0,2.0,2.0,1.0,
30,10021147.0,10/21/2024,3667.865726,40033.0,2.0,1.0,1.0,2.0,2.0,11.0,...,3.0,3.0,3.0,3.0,1.0,2.0,2.0,2.0,1.0,
125,10084155.0,10/21/2024,893.496624,40006.0,1.0,1.0,1.0,2.0,2.0,8.0,...,3.0,3.0,3.0,3.0,1.0,1.0,1.0,1.0,1.0,
192,10131036.0,10/21/2024,2324.427576,40026.0,2.0,1.0,1.0,2.0,2.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,
354,10247013.0,10/21/2024,1009.340987,40037.0,2.0,2.0,3.0,2.0,2.0,8.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56423,50355406.0,10/21/2024,441.225191,40018.0,2.0,1.0,1.0,2.0,2.0,4.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,
56441,50366352.0,10/21/2024,280.370628,40027.0,2.0,2.0,1.0,2.0,2.0,9.0,...,3.0,3.0,3.0,3.0,1.0,1.0,2.0,2.0,1.0,
56613,50488391.0,10/21/2024,6059.225034,40044.0,1.0,1.0,1.0,2.0,2.0,6.0,...,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,
56651,50515231.0,10/21/2024,1883.543464,40025.0,1.0,2.0,2.0,2.0,2.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,
56691,50549030.0,10/21/2024,151.967255,40046.0,2.0,2.0,3.0,2.0,2.0,5.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,

In [8]:
# find the number of substances used in each column (how many of the conditions it satisfied)
# use random forest to find a list of feature importanve